@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto", sans-serif;
<<<<<<< HEAD
=======
  user-select: none;
>>>>>>> 2da12e0 (Fresh Start)
}

.manrope {
  font-family: "Manrope", sans-serif;
}
.inter {
  font-family: "Inter", sans-serif;
}
.roboto {
  font-family: "Roboto", sans-serif;
}
